* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/cof2\,jpg.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

.nav-bar .title {
    color: #fff;
    font-size: 107px;
    font-weight: 600;
    cursor: pointer;
}

span {
    color: crimson;
}

.nav-bar p {
    position: absolute;
    margin-top: 90px;
    margin-left: 50px;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.menu li {
    list-style: none;
    display: inline-block;

}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    font-weight: 600;
    margin-left: 25px;
    transition: .4s ease;
}

.menu li a:hover {
    color: crimson;
    padding: 5px 10px;
    border: 2px solid #fff;

}

.home {
    height: 400px;
    padding: 70px;
}

.title-1 {
    font-size: 86px;
    color: #fff;
    font-weight: 600;

}

.title-2 {
    text-align: center;
    font-size: 45px;
    color: black;
    font-style: italic;

    font-weight: 100;
    font-weight: bold;

}

.title-3 {
    width: 18%;
    height: 400px;
    font-size:25px;
    padding: 10px;
    display: inline;


}

.home p {
    color: lemonchiffon;
    font-size: 30px;
    padding-top: 10px;
}

.home button {
    height: 40px;
    color: #fff;
    background: crimson;
    font-size: 22px;
    padding: 5px 30px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: .4s ease;
    cursor: pointer;
}

.home button:hover {
    background: none;
    /* color:crimson; */
    border: 2px solid crimson
}

img {
    height: 100%;
    width: 200px;
    border-radius: 100px;
}

section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    
    text-align: center;
    font-size:30px;
    margin-bottom: 3rem;
}

.heading img {
    height: 4rem;
    margin-bottom: 1rem;
}



.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 1000;
}
.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color:var(--black);
 }
 

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    display: flex;
    justify-content: space-evenly;


}

.box-container .box {
    text-align: center;
}
.box-container .box h3{
    font-size:35px;
}

.box-container .box img {
    height: 10rem;
    margin-bottom: .5rem;
}

.box-container .box p {
    line-height: 1.5;
    font-size: 30px;
    color: var(--light-color);
}
.menu .heading h3{
    font-size:50px;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap:2rem;
    align-items: flex-start;
    justify-content: center;
 }
 
 .menu .box-container .box{
    text-align: center;
 }
 
 .menu .box-container .box img{
    width: 100%;
    margin-bottom: 1rem;
 }
 
 .menu .box-container .box h3{
    font-size: 45px;
    color:var(--black);
 }
 .footer{
    height:70px;
    width: 100%;
 }
 .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:1.5rem;
    /* height:50px;
    width: 100%; */
    background-color: gray;
 }
 
 .footer .box-container .box{
    text-align: center;
    background-color: gray;
 }
 
 .footer .box-container .box i{
    font-size: 2.5rem;
    line-height: 6rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-color: var(--main-color);
    color:var(--white);
    margin-bottom: 1rem;
 }
 
 .footer .box-container .box h3{
    margin:1rem 0;
    font-size: 2rem;
    color:var(--black);
 }
 
 .footer .credit{
    font-size:20px;
 }
 
 
 
 .footer .credit span{
    font-size:20px;
    color:var(--main-color);
 }